{% extends 'gitmanager_frame.html' %}
{% load i18n %}

{% block title %}Git Manager :: {{ course.name }}{% endblock %}

{% block body %}
{% if error %}
	<div class="alert alert-danger" role="alert">
		{{ error }}
	</div>
{% endif %}

<div class="page-header">
	<h1>{{ course.name }}</h1>
</div>
<h3>{% trans "SERVICE_URLS_FOR_A+" %}</h3>
<table class="table">
  <tr>
    <td>{% trans "A+_CONFIGURATION_JSON" %}</td>
    <td>
      <a href="{{ plus_config_url }}">
        {{ plus_config_url }}
      </a>
    </td>
  </tr>
  <tr>
    <td>{% trans "BUILD/MAKE_OUTPUT_RETRIEVAL" %}</td>
    <td>
      <a href="{{ build_log_url }}">
        {{ build_log_url }}
      </a>
    </td>
  </tr>
</table>
<h3>{% trans "AVAILABLE_EXERCISES" %}</h3>
<div class="list-group">
	{% for exercise in exercises %}
	<p class="list-group-item">
		{{ exercise.title }}
  </p>
	{% endfor %}
</div>
{% endblock %}
