[Unit]
Description=uWSGI Emperor service

[Service]
ExecStart=/srv/gitmanager/venv/bin/uwsgi --ini /srv/gitmanager/gitmanager-uwsgi.ini
SyslogIdentifier=gitmanager
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
ExecReload=/bin/sh -c "echo c > /run/gitmanager/uwsgi.master"

[Install]
WantedBy=multi-user.target
