{% extends 'gitmanager_frame.html' %}
{% load i18n %}

{% block title %}{{ block.super }} :: Manager, Updates {{ course.key }}{% endblock %}

{% block heading %}Update {{ course.key }}{% endblock %}

{% block body %}
{% if has_write_access %}
<table>
	<tr>
		<td style="padding-right: 10px;">
			<label>Webhook secret</label>
		</td>
		<td><input type="text" class="form-control" value="{{ course.webhook_secret }}" size="60" readonly=""></td>
	</tr>
	<tr>
		<td style="padding-right: 10px;">
			<label>Remote id</label>
		</td>
		<td><input type="text" class="form-control" value="{{ course.remote_id }}" size="60" readonly=""></td>
	</tr>
	<tr>
		<td style="padding-right: 10px;">
			<label>{% trans "A+_CONFIGURATION_JSON" %}</label>
		</td>
		<td><input type="text" class="form-control" value="{{ aplus_json_url }}" size="60" readonly=""></td>
	</tr>
</table>
{% endif %}
<p>
	Origin: {{course.git_origin }} {{ course.git_branch }}
	{% if course.update_hook %}
	<br />Hooks forward: {{ course.update_hook }}
	{% endif %}
</p>
<p>
<form method="post" action="{% url 'manager-git-hook' course.key %}" class="form-inline">
	<div class="form-group">
		<label>Hook</label>
		<input type="text" class="form-control" value="{{ hook }}" size="60" readonly>
		<input type="submit" value="Trigger" class="btn btn-default btn-md">
		<br>
		Build image <input type="text"  name="build_image" value="" size="20">
		Build command <input type="text"  name="build_command" value="" size="20">
		Skip git <input type="checkbox" name="skip_git">
		Skip build <input type="checkbox" name="skip_build">
		Skip automatic update <input type="checkbox" name="skip_notify">
	</div>
</form>
</p>
<table class="table table-bordered">
	<tr>
		<th>Request IP</th>
		<th>Created</th>
		<th>Status</th>
		<th>Updated</th>
	</tr>
	{% for update in updates %}
		<tr>
			<td>{{ update.request_ip }}</td>
			<td>{{ update.request_time }}</td>
			<td>{{ update.status }}</td>
			<td>{% if update.updated_time %}{{ update.updated_time }}{% endif %}</td>
		</tr>
		{% if update.log %}
			<tr>
				<td colspan="4">
					<pre>{{ update.log }}</pre>
				</td>
			</tr>
		{% endif %}
	{% endfor %}
</table>
{% endblock %}
